<div class="card-panel">
  <h1>Posts</h1>

  <div id="hello">
    <app />
  </div>

  <% @posts.each do |post| %>
  <h3> <%= link_to post.title, post %> </h3>
  <% end %>

  <br>
  <%= link_to "New Post", new_post_path, class: "btn teal" %>
</div>
