<div class="container">
  <div class="flex-center">
    <h3 class="panel-heading heading-two">My Articles </h3>
    <div class="line teal lighten-2"> </div>
  </div>

  <div class="fixed-action-btn toolbar">
    <a href='/posts/new' class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>

  <div class="card-panel">
    <div class="nav-wrapper search-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
    <%# <div id="hello">
      <app />
    </div> %>

    <% @posts.each do |post| %>
      <div class="card-panel">
        <span class="heading-three"> <%= link_to post.title, post %> </span> <br>
        <div style="float: left">
          <small> <span class="date"> <%= post.created_at.strftime("%A %b %d, %Y") %> </span> </small>
        </div>
        <div style="text-align: right">
          <% post.tag_list.each do |tag| %>
            <div class="chip"> <%= tag %> </div>
          <% end %>
        </div>
        <div style="clear: both"> </div>
      </div>
    <% end %>

    <%= paginate @posts %>
  </div>
</div>
