<div class="card-panel">
  <h2> <%= @post.title %> </h2>
  <p> <%= @post.content %> </p>

  <%= link_to "Edit", edit_post_path(@post), class: "btn blue" %>
  <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn red" %>
</div>
