/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "pygments";

$blue: #2897fd;
$yellow: #efa00f;

// Global styles
.my-container {
padding: 10px 50px 10px 50px;
}

body {
  background: #eee;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 120%;
  line-height: 32px;
}

main {
  flex: 1 0 auto;
  margin-top: 20px;
}

.card-panel {
  padding: 20px;
  .secondary-content {
    font-size: 0px;
    .material-icons {
      font-size: 15px !important
    }
  }

  .highlight {
    color: $blue;
    font-weight: 500;
  }
}

.starred {
  color: $yellow;
}

.my-avatar {
  float: left;
  margin-right: 15px;
  border-radius: 50%;
}

input[type=text], textarea {
  border: 1px solid #ddd !important;
  padding: 5px !important;
  width: 99% !important;
}

a:hover {
color: $yellow;
}

a {
color: $blue;
}

.pagination {
  li {
    min-width: 35px;
    a {
      color: #777 !important;
    }
  }
  .current {
    background: #666;
    padding: 0.2rem .8rem;
    border-radius: 5px;
    color: #fff;
  }
}


// Colors
.text--blue {
  color: $blue;
}

// Headings
.heading-one {
  font-weight: 600;
  font-size: 50px;
}

.heading-two {
  font-weight: 600;
  font-size: 40px;
}

.heading-three {
  font-weight: 500;
  font-size: 30px;
}

//  Index Page
.line {
  height: 3px;
  width: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.collection-item {
  padding: 0px 10px 0px 10px !important;
}

.date {
  font-size: 13px;
  color: #888;
}

.card-image {
  img {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}

.chip {
  border: 1px solid #aaa;
}
