// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3, h4, h5 {
    margin: 10px;
  }
}

.social {
  a {
    cursor: pointer;
    margin-right: 20px;
  }
}

.markdown-section {
  img {
    max-width: 100%;
  }
}

.search-wrapper {
  .input-field {
    background: #eee;
    height: 3rem;
    border: 1px #aaa solid;
    border-radius: 30px;

    input[type=search] {
      border-radius: 30px;
    }
  }
}

