<header>
  <nav class="teal">
    <div class="nav-wrapper container">
      <%= link_to "Raphael Akpan", root_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <%= link_to "Writings", posts_path %> </li>
        <li><a href="badges.html">Projects</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
